.open-card-container,
.card {
    width: 30vmin;
    aspect-ratio: 5 / 7;
    transition: transform 500ms ease-in-out;
    overflow: hidden;
}


.card-container,
.card {
    width: 30vmin;
    aspect-ratio: 5 / 7;
    transition: transform 500ms ease-in-out;
    overflow: hidden;
}

.card {
    aspect-ratio: 5 / 7;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    border-color: #161616;
    border-style: solid;
    
}
.big-card {
    width: 30vmin;
    max-width: 250px;
    border-radius: 1vmin;
    background-color: white;
    border-width: 3px;
    overflow: hidden;
    user-select: none;
}
.small-card { 
    width: 12vmin;
    max-width: 100px;
    border-radius: 2vmin;
    pointer-events: none;
    background-color: white;
    border-width: 1px;
    transform: translate(75%, 75%);
    user-select: none;
}


/*
---------------------    Big Cards and their hover effects    ---------------------
*/
.big-card:nth-child(2) {
    transform: translateX(-6%) translateY(-1%) rotate(-4deg);
}

.big-card:nth-child(4) {
    transform: translateX(5%) translateY(1%) rotate(6deg);
}

.big-card:nth-child(6) {
    transform:  translateX(-2%) rotate(-10deg);
}

.big-card:nth-child(8) {
    transform: rotate(0deg);
}

.open-card-container > .big-card:nth-child(2) {
    transform: translate(-75%, 16%) rotate(-24deg);
}
.open-card-container > .big-card:nth-child(4) {
    transform: translate(-25%, 8%) rotate(-8deg);
}

.open-card-container > .big-card:nth-child(6) {
    transform: translate(25%, 8%) rotate(8deg);
}

.open-card-container > .big-card:nth-child(8) {
    transform: translate(75%, 16%) rotate(24deg);
}



/*
---------------------    Small Cards and their hover effects    ---------------------
*/

.open-card-container > .small-card:nth-child(1) {
    transform: translate(220%, -60%) rotate(-15deg);
}

.open-card-container > .small-card:nth-child(3) {
    transform: translate(300%, 265%) rotate(10deg);
}

.open-card-container > .small-card:nth-child(5) {
    transform: translate(-120%, -60%) rotate(15deg);
}

.open-card-container > .small-card:nth-child(7) {
    transform: translate(-160%, 260%) rotate(-10deg);
}